<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yönetici Paneli</title>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/dashboard.css') }}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

    <!-- Uygulama Başlığı -->
    <div class="header">
        Yönetici Ekranı
    </div>

    <!-- Ana İçerik Konteyneri -->
    <div class="main-container">

        <!-- Sol Panel (Menü) -->
        <div class="sidebar">
            <div>
                <h2>Konteynırlar</h2>
                <ul>
                    <li><a href="{{ url_for('konteyner_ekle_secim') }}">Ekle</a></li>
                    <li>Konteynır Sil</li>
                    <li>Konteynır Düzenle</li>
                    <li><a href="{{ url_for('konteyner_talepler') }}">Konteynır Talepleri</a></li>
                </ul>
                <h2>Hastalık</h2>
                <h2>Acil Çağrı Geçmişi</h2>
            </div>
                <div>
                    <!-- Profil Bilgileri -->
                <div class="profile">
                    <div class="profile-picture"></div>
                    <div class="profile-info">
                        <p>{{ user.name }}</p> <!-- İsim ve soyisim buraya yazılacak -->
                    </div>
                </div>
                <div class="logout">
                    <a href="{{ url_for('logout') }}"><button>Çıkış Yap</button></a>
                </div>
            </div>
        </div> 
        

        <!-- Orta Alan (Harita) -->
        <div class="content">
            <div id="map"></div>
        </div>

        <!-- Sağ Panel -->
        <div class="right-panel">
            <h2>Acil Çağrılar</h2>
            {% for cagri in acil_cagrilar %}
                <p>{{ cagri.konum }} - {{ cagri.durum }}</p>
            {% endfor %}

            <h2>İşlemdeki Çağrılar</h2>
            {% for cagri in islemdeki_cagrilar %}
                <p>{{ cagri.konum }} - {{ cagri.durum }}</p>
            {% endfor %}
        </div>

    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Harita Oluştur
        var map = L.map('map').setView([40.1825, 29.0664], 10); // Bursa koordinatları ve zoom seviyesi

        // OpenStreetMap Katmanı Ekle
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap Katkıda Bulunanlar'
        }).addTo(map);
    </script>
</body>
</html>